{% extends "post/base.html" %}
{% block content %}
    {% for post in posts %}
        <div class="card">
             <div class="card-header"> 
                <img class="rounded-circle article-img" height=60 width=60 src="{{post.author.profile.image.url}}">
                <a class="mr-2" href="#">{{ post.author }}</a>
                <small class="text-muted">{{ post.date_posted| date:"F d, Y"}}</small>
            </div>
            <div class="card-body">
                <a class="mr-2" href="{% url 'post-detail' post.id %}">{{ post.title }}</a><br><br>
                <h5 class="card-title">{{ post.content }}</h5>   
            </div>
        </div>
        <br>
    {% endfor %}
{% endblock content %}


